GeoNames Extractor/Geonames Examples/geonames.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="text" type="xs:string"/>
  <xs:element name="geoname_id" type="xs:int"/>
  <xs:element name="score" type="xs:float"/>
  <xs:element name="term">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="text"/>
        <xs:element ref="geoname_id"/>
        <xs:element ref="score"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Geonames">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="term" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>