AgroVoc Extractor/agrovoc.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="text" type="xs:string"/>
  <xs:element name="code" type="xs:short"/>
  <xs:element name="score" type="xs:float"/>
  <xs:element name="term">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="text"/>
        <xs:element ref="code"/>
        <xs:element ref="score"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgroVoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="term" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>